<h5 class="font-weight-bold ">
  Preferencias
</h5>
<div class="card" style="padding-left: 5px; padding-top: 2px; padding-right: 5px;">
  <div class="card-body">
    <div class="row">
      <div style="max-width: 200px; font-weight: bold;" class="col-md-3">
        Modificación datos generales:
      </div>
      <div class="col-md-9">            
          <label class="custom-control custom-checkbox m-0 mt-2">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-label">Permitir al Mandante editar datos de Contrato</span>
          </label>              
          <label class="custom-control custom-checkbox m-0 mt-2">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-label">Permitir al Contratista editar datos de Contrato</span>
          </label> 
      </div>
    </div>
    <hr>
    <div class="row">
      <div style="max-width: 200px; font-weight: bold;" class="col-md-3">
        Modificación datos generales:
      </div>
      <div class="col-md-9">            
          <label class="custom-control custom-checkbox m-0 mt-2">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-label">Permitir al Mandante editar datos de Contrato</span>
          </label>              
          <label class="custom-control custom-checkbox m-0 mt-2">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-label">Permitir al Contratista editar datos de Contrato</span>
          </label> 
      </div>
    </div>
    <hr>
    <div class="row">
      <div style="max-width: 200px; font-weight: bold;" class="col-md-3">
        Modificación datos generales:
      </div>
      <div class="col-md-9">            
          <label class="custom-control custom-checkbox m-0 mt-2">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-label">Permitir al Mandante editar datos de Contrato</span>
          </label>              
          <label class="custom-control custom-checkbox m-0 mt-2">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-label">Permitir al Contratista editar datos de Contrato</span>
          </label> 
      </div>
    </div>
    <hr>
    <div class="row">
      <div style="max-width: 200px; font-weight: bold;" class="col-md-3">
        Modificación datos generales:
      </div>
      <div class="col-md-9">            
          <label class="custom-control custom-checkbox m-0 mt-2">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-label">Permitir al Mandante editar datos de Contrato</span>
          </label>              
          <label class="custom-control custom-checkbox m-0 mt-2">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-label">Permitir al Contratista editar datos de Contrato</span>
          </label> 
      </div>
    </div>
    <hr>
    <div class="row">
      <div style="max-width: 200px; font-weight: bold;" class="col-md-3">
        Modificación datos generales:
      </div>
      <div class="col-md-9">            
          <label class="custom-control custom-checkbox m-0 mt-2">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-label">Permitir al Mandante editar datos de Contrato</span>
          </label>              
          <label class="custom-control custom-checkbox m-0 mt-2">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-label">Permitir al Contratista editar datos de Contrato</span>
          </label> 
      </div>
    </div>
  </div>
  <div class="card-body" align="right">    
    <button type="button" class="btn btn-secondary">Cancelar</button>
    <button type="button" class="btn btn-primary">Guardar</button>
    <button type="button" class="btn btn-primary">Editar</button>
  </div>  
</div>