<nav class="navbar navbar-expand-lg align-items-center" [ngClass]="currentBg()">  
  <a  class="navbar-brand app-brand demo d-lg-none py-0 mr-4">
    <span class="app-brand-logo ">      
      <img src="/assets/img/logo42_.png" style="width: 35px; height: 35px;"/>
    </span>    
    <img class="app-brand-text ml-1" style="width: 110px; height: 31px;" src="/assets/img/letra110_31.png"/>    
    <a class="nav-item nav-link" href="javascript:void(0)" (click)="toggleSidenav()" style="padding-left: 5px;">
      <i class="lnr lnr-menu text-large align-middle" style="color: rgb(151, 151, 151);"></i>   
    </a>
  </a>
  <div class="navbar-toggler align-items-center">
      <i class="ion ion-ios-keypad mr-3" type="button" style="font-size: 22px; color: #3c97fe;" (click)="isExpanded = !isExpanded"></i>   
      <i class="ion ion-md-exit" type="button" style="font-size: 22px; color: #3c97fe;" href="javascript:void(0)" (click)="cerrarSesion()"></i>
  </div>
  <div class="navbar-collapse collapse" [ngbCollapse]="!isExpanded" >      
    <div class="navbar-nav align-items-center" [formGroup]="formNav">           
      <label class="nav-item navbar-text navbar-search-box p-0 active">
        <div class="d-inline-flex justify-content-center align-items-center" style="border-top-left-radius: 3px; border-bottom-left-radius: 3px; border-left: 1px solid;border-top: 1px solid;border-bottom: 1px solid; border-color: rgb(220, 218, 218); background: rgb(248, 248, 248); height: 36px; min-width: 32px;">
          <i class="lnr d-block lnr-apartment" style="font-size: 16px;color:dimgray;"></i> 
        </div>       
        <select  formControlName="empresa" (change)="cambiarEmpresa($event.target.value)" class="col-12" style="color:dimgray; border-top-right-radius: 3px; border-bottom-right-radius:3px; border-color: rgb(220, 218, 218); background: rgb(248, 248, 248); height: 36px; width: 430px;">          
          <option  *ngFor="let empresa of empresas" [value]="empresa.empresa.idEmpresa" >
            {{empresa.empresa.razonSocial}}  | RUT: {{ empresa.empresa.rut }}
          </option>           
        </select>
      </label>
    </div>

    <div class="navbar-nav align-items-lg-center ml-auto">
      <div ngbDropdown [placement]="isRTL ? 'bottom-left' : 'bottom-right'" class="demo-navbar-notifications nav-item">
        <a ngbDropdownToggle class="nav-link hide-arrow" href="javascript:void(0)">
          <i class="ion ion-md-notifications-outline navbar-icon align-middle" style="color: rgb(192, 192, 192);"></i>
          <span class="badge badge-danger badge-dot indicator"></span>
          <span class="d-lg-none align-middle" style="color:dimgray;">&nbsp; Notificaciones</span>
        </a>
        <div ngbDropdownMenu [class.dropdown-menu-right]="!isRTL">
          <div class="bg-primary text-center text-white font-weight-bold p-3">
            4 Nuevas Notificaciones
          </div>
          <div class="list-group list-group-flush">
            <a href="javascript:void(0)" class="list-group-item list-group-item-action media d-flex align-items-center">
              <div class="ui-icon ui-icon-sm ion ion-md-home bg-secondary border-0 text-white"></div>
              <div class="media-body line-height-condenced ml-3">
                <div class="text-body">Login from 192.168.1.1</div>
                <div class="text-light small mt-1">
                  Aliquam ex eros, imperdiet vulputate hendrerit et.
                </div>
                <div class="text-light small mt-1">12h ago</div>
              </div>
            </a>
            <a href="javascript:void(0)" class="list-group-item list-group-item-action media d-flex align-items-center">
              <div class="ui-icon ui-icon-sm ion ion-md-person-add bg-info border-0 text-white"></div>
              <div class="media-body line-height-condenced ml-3">
                <div class="text-body">You have <strong>4</strong> new followers</div>
                <div class="text-light small mt-1">
                  Phasellus nunc nisl, posuere cursus pretium nec, dictum vehicula tellus.
                </div>
              </div>
            </a>
            <a href="javascript:void(0)" class="list-group-item list-group-item-action media d-flex align-items-center">
              <div class="ui-icon ui-icon-sm ion ion-md-power bg-danger border-0 text-white"></div>
              <div class="media-body line-height-condenced ml-3">
                <div class="text-body">Server restarted</div>
                <div class="text-light small mt-1">
                  19h ago
                </div>
              </div>
            </a>
            <a href="javascript:void(0)" class="list-group-item list-group-item-action media d-flex align-items-center">
              <div class="ui-icon ui-icon-sm ion ion-md-warning bg-warning border-0 text-body"></div>
              <div class="media-body line-height-condenced ml-3">
                <div class="text-body">99% server load</div>
                <div class="text-light small mt-1">
                  Etiam nec fringilla magna. Donec mi metus.
                </div>
                <div class="text-light small mt-1">
                  20h ago
                </div>
              </div>
            </a>
          </div>
          <a href="javascript:void(0)" class="d-block text-center text-light small p-2 my-1">Show all notifications</a>
        </div>
      </div> 
      <div class="nav-item d-none d-lg-block mr-4 ml-1 font-weight-light" style="font-size: 20px; color: rgb(224, 224, 224);">|</div>
      <div ngbDropdown [placement]="isRTL ? 'bottom-left' : 'bottom-right'" class="demo-navbar-user nav-item">
        <!-- <a ngbDropdownToggle class="nav-link" href="javascript:void(0)"> -->
        <a style="padding-right: 10px;">
          <span class="d-inline-flex flex-lg-row-reverse align-items-center align-middle">
            <!-- <img src="assets/img/avatars/1.png" alt class="d-block ui-w-30 rounded-circle"> -->
            <div class="row align-items-center">              
              <div class="d-none d-lg-block" style="line-height: 15px; text-align: end; color: rgb(66, 66, 66);">
                <span>{{empresaUsuarioRol.usuario.nombre }} {{empresaUsuarioRol.usuario.apellidoPaterno }} {{empresaUsuarioRol.usuario.apellidoMaterno }} </span><br>
                <span class="text-muted" style="font-size: 12px;">Rol: {{empresaUsuarioRol.rol.nombre }}</span>
              </div>
              <a class="ion ion-md-exit  ml-3 navbar-icon d-none d-lg-block" style="font-size: 20px; color: #3c97fe;" href="javascript:void(0)" (click)="cerrarSesion()"></a>              
            </div>                     
          </span>
        </a>
      </div>
    </div>
  </div>
</nav>
