<div class="contenedor ui-bg-cover d-flex justify-content-center align-items-center" style="background-image: url('assets/img/bg/login.jpg')">
  <div class="card mt-5 mb-5" style="max-width: 400px; padding: 20px;border-radius: 3px; margin-left: 20px; margin-right: 20px;">  
    <div class="mb-4 mt-2">          
      <img style="display:block; margin:auto;" src="/assets/img/login.png"/>          
    </div>
    <form [formGroup]="formSolicitarPassword" class="mb-3">
      <div class="mb-3">
        Ingrese su RUN y seleccione e-mail en donde recibirá las instrucciones para restablecer la contraseña.  
      </div>
      <div class="form-group">
        <label class="form-label">RUN</label>            
        <input type="text" 
          class="form-control" 
          formControlName="rut" 
          required
          maxlength="13" 
          minlength="8" 
          autocomplete="false" 
          (blur)="validaUsuarioBlurf()" 
        >                
      </div>

      <div class="form-group">
        <label class="form-label">Email</label>
        <select class="custom-select" formControlName="correo"  required>
          <option *ngFor="let email of emailsUsuario" [value]="email" >{{email}}</option>       
        </select>
      </div>
      <div class="mt-4">            
        <button type="button" class="btn btn-primary btn-block" [disabled]="formSolicitarPassword.invalid" (click)="solicitarPassword()">Solicitar Contraseña</button>
        <button type="button" class="btn btn-default btn-block" (click)="cancelar()" >Cancelar</button>
      </div>
    </form>    
    <div class="card-footer">
      <div class="text-center text-muted" style="font-size: 11px;">
        Sisteman desarrollado por <a href="https://www.linksystem.cl" target="_blank">LinkSystem</a> Spa.<br>
        Versión 2021         
      </div>
    </div>      
  </div>
</div>
<block-ui [template]="pageBlockTemplate" class="block-ui-white"></block-ui>
<ng-template #pageBlockTemplate>
  <div class="block-ui-template">
    <div class="sk-folding-cube sk-primary"><div class="sk-cube1 sk-cube"></div><div class="sk-cube2 sk-cube"></div><div class="sk-cube4 sk-cube"></div><div class="sk-cube3 sk-cube"></div></div>
    <h5 class="text-center mb-0">Enviando Correo...</h5>
  </div>
</ng-template>