<div *ngIf="!tokenValido" class="contenedor ui-bg-cover d-flex justify-content-center align-items-center" style="background-image: url('assets/img/bg/login.jpg')">
  <div class="card mt-5 mb-5" style="width: 400px; padding: 20px;border-radius: 3px; margin-left: 20px; margin-right: 20px;">
    <div class="mb-4 mt-2">          
      <img style="display:block; margin:auto;" src="/assets/img/login.png"/>          
    </div>
    <div class="mb-3">
      <div class="text-center text-danger mt-2 mb-5">El enlace a expirado!!!</div>
      <!-- <div class="mt-2">            
        <button type="button" class="btn btn-primary btn-block">Cerrar</button>
      </div> -->
    </div>      
    <div class="card-footer">
      <div class="text-center text-muted" style="font-size: 11px;">
        Sisteman desarrollado por <a href="https://www.linksystem.cl" target="_blank">LinkSystem</a> Spa.<br>
        Versión 2021         
      </div>
    </div> 
  </div>
</div>
<div  *ngIf="tokenValido">
  <div *ngIf="poseePassword === false" class="contenedor ui-bg-cover d-flex justify-content-center align-items-center" style="background-image: url('assets/img/bg/login.jpg')">
    <div class="card mt-5 mb-5" style="max-width: 550px; padding: 20px;border-radius: 3px; margin-left: 20px; margin-right: 20px;">
    <!-- <div class="card mt-5 mb-5" style="width: 473px; padding: 20px;border-radius: 3px;"> -->
      <div class="mb-4 mt-2">          
        <img style="display:block; margin:auto;" src="/assets/img/accesologo.jpg"/>          
      </div>
      <form [formGroup]="form" class="mb-3">
        <div class="mb-3">
          Bienvenido a <strong>LODigital</strong>. Para su activación debe revisar cada uno de los datos personales y corregir en el caso que sea necesario, ademas de crear contraseña de acceso. 
        </div>
        <h5>Revisión de datos personales</h5>
        <div class="form-group">
          <label class="form-label">RUN</label>           
          <input type="text" class="form-control" disabled  formControlName="rut">            
        </div>
        <div class="form-group">
          <label class="form-label">Nombres</label>           
          <input type="text" class="form-control" formControlName="nombre"  style="text-transform: capitalize;">
          <small class="form-text text-muted">Una vez activado el usuario este dato no podrá ser modificado.</small>            
        </div>
        <div class="form-group">
          <label class="form-label">Apellido Paterno</label>           
          <input type="text" class="form-control" formControlName="apellidoPaterno" style="text-transform: capitalize;">
          <small class="form-text text-muted">Una vez activado el usuario este dato no podrá ser modificado.</small>            
        </div>
        <div class="form-group">
          <label class="form-label">Apellido Materno</label>           
          <input type="text" class="form-control"  formControlName="apellidoMaterno" style="text-transform: capitalize;">
          <small class="form-text text-muted">Una vez activado el usuario este dato no podrá ser modificado.</small>            
        </div>
        <div class="form-group">
          <label class="form-label">E-mail Principal</label>           
          <input type="email" class="form-control" formControlName="emailPrincipal">
          <small class="form-text text-muted">Este correo será utilizado para notificaciones y recuperación de contraseña.</small>            
        </div>
        <div class="form-group">
          <label class="form-label">E-mail Alternativo (opcional)</label>           
          <input type="email" class="form-control" formControlName="emailSecundario">
          <small class="form-text text-muted">Se utilizará este correo como alternativa al correo principal.</small>               
        </div>
        <hr>
        <h5>Creación de contraseña de acceso</h5>
        <div class="form-group">
          <label class="form-label">Ingrese Contraseña</label>            
          <input type="password" class="form-control" minlength="8" maxlength="12" formControlName="password">
          <small class="form-text text-muted">La contraseña debe contener entre 8 y 12 caracteres. Se recomienda incorporar letras mayúsculas y minúsculas, ademas de caracteres especiales.</small>        
        </div>
        <div class="form-group">
          <label class="form-label">Repita la Contraseña</label>            
          <input type="password" class="form-control" minlength="8" maxlength="12" formControlName="confirmPassword">        
          <label
            class="text-danger"
            *ngIf="form.controls['confirmPassword'].hasError('NoPassswordMatch')">
            Las contraseña no coinciden
          </label>
        </div>
        <div class="card">
          <div class="form-group mt-4">
            <label class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input">
              <span class="custom-control-label" ><a (click)="modalTerminoCondiciones()" >Aceptar términos y condiciones.</a></span>
            </label>
          </div>
        </div>      
        <div class="mt-3">            
          <button type="button" class="btn btn-primary btn-block" [disabled]="form.invalid" (click)="activarUsuarioEmpresa()">Confirmar Activación</button>
        </div>
      </form>    
      <div class="card-footer">
        <div class="text-center text-muted" style="font-size: 11px;">
          Sisteman desarrollado por <a href="https://www.linksystem.cl" target="_blank">LinkSystem</a> Spa.<br>
          Versión 2021         
        </div>
      </div>      
    </div>
  </div>
  <div *ngIf="poseePassword === true">
    <div class="contenedor ui-bg-cover d-flex justify-content-center align-items-center" style="background-image: url('assets/img/bg/login.jpg')">
      <div class="card mt-5 mb-5" style="max-width: 550px; padding: 20px;border-radius: 3px; margin-left: 20px; margin-right: 20px;">
        <div class="mb-4 mt-2">          
          <img style="display:block; margin:auto;" src="/assets/img/accesologo.jpg"/>          
        </div>
        <form [formGroup]="formUsuarioConPassword">
          <div class="mb-3">
            Bienvenido a <strong>LODigital</strong>. Para aceptar la invitación debe ingresar su RUN y contraseña de acceso del sistema, ademas de aceptar los términos y condiciones. 
          </div>
          <div class="form-group">
            <label class="form-label">RUN</label>            
            <input 
              type="text" 
              class="form-control" 
              formControlName="rut"  
              maxlength="13" 
              minlength="8" 
              autocomplete="false"
              (blur)="validaUsuarioBlurf()"   
            >                    
          </div>
          <div class="form-group">
            <label class="form-label">Ingrese Contraseña</label>            
            <input type="password" class="form-control" minlength="8" maxlength="12" formControlName="password">                    
          </div>
          <div class="card">
            <div class="form-group mt-4">
              <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input">
                <span class="custom-control-label"><a href="">Aceptar términos y condiciones.</a></span>
              </label>
            </div>
          </div>
          <div class="mt-3">            
            <button type="button" class="btn btn-primary btn-block" [disabled]="formUsuarioConPassword.invalid" (click)="aceptarInvitacion()">Aceptar</button>
            <button type="button" class="btn btn-default btn-block" (click)="goLogin()">Cancelar</button>
          </div>
        </form>
        <div class="card-footer">
          <div class="text-center text-muted" style="font-size: 11px;">
            Sisteman desarrollado por <a href="https://www.linksystem.cl" target="_blank">LinkSystem</a> Spa.<br>
            Versión 2021         
          </div>
        </div>        
      </div>
    </div>    
  </div>
</div>
<block-ui [template]="pageBlockTemplate" class="block-ui-white"></block-ui>
<ng-template #pageBlockTemplate>
  <div class="block-ui-template">
    <div class="sk-folding-cube sk-primary"><div class="sk-cube1 sk-cube"></div><div class="sk-cube2 sk-cube"></div><div class="sk-cube4 sk-cube"></div><div class="sk-cube3 sk-cube"></div></div>
    <h5 class="text-center mb-0">Espere Por favor ....</h5>
  </div>
</ng-template>
