<ngx-alerts></ngx-alerts>
<div class="row mb-4" style="align-items: center; margin-left: 0px;">
  <button type="button" class="btn icon-btn btn-secondary btn-sm" (click)="volver()"><span class="ion-ios-arrow-back"></span></button>   
  <span class="ml-2" style="font-size: 16px; align-items: center;">Listado Folios /</span>
  <strong style="font-size: 16px;">&nbsp;Folio Borrador</strong> 
</div>
<div class="card" >   
  <div class="card-header mb-2">
    <div style="align-items: center;">
      <img style="width: 35px; height: 35px;" src="/assets/img/logo42_.png"/>
      <img src="/assets/img/letra110_31.png"/>
    </div> 
  </div>  
  <div class="card-body" style="padding-top: 0px">    
    <div class="row" style="font-size: 12px; padding-left: 10px; padding-right: 10px;">
      <div class="flex-grow-1 justify-content-start">
        <table>
          <tr>
            <td style="font-weight: bold; width: 75px;">
              Contrato
            </td>
            <td style="font-weight: bold;">
              <strong>{{folio?.libro.contrato.nombre}}</strong>
            </td>
          </tr>
          <tr>
            <td>Código</td>
            <td>
              {{folio?.libro.contrato.codigo}}
            </td>                  
          </tr>          
          <tr>
            <td>Mandante</td>                    
            <td>
              {{empresaMandante?.razonSocial}} | RUT:&nbsp;{{empresaMandante?.rut}}
            </td>
          </tr>     
          <tr>
            <td>Contratista</td>
            <td>
              {{empresaContratista?.razonSocial}} | RUT:&nbsp;{{empresaContratista?.rut}}
            </td>
          </tr>      
        </table>
      </div>
      <div class="justify-content-end" style="max-width: 350px;">
        <table>
          <tr>
            <td style="font-weight: bold; width: 75px">
              <strong>Libro:</strong>
            </td>
            <td style="font-weight: bold;">
              <strong>{{folio?.libro.nombre}}</strong>
            </td>                    
          </tr>
          <tr>
            <td>Código</td>
            <td>{{folio?.libro.codigo}}</td>
          </tr>
          <tr>
            <td>Clase Libro</td>
            <td>
              {{folio?.libro.tipoLibro.descripcion}}
            </td>
          </tr>
          <tr>
            <td>Tipo Firma</td>
            <td>
              {{folio?.libro.tipoFirma.descripcion}}
            </td>
          </tr>      
        </table>
      </div>
    </div>
    <hr style="margin-top: 8px; margin-bottom: 8px;">
    <form [formGroup]="formContrato">      
      <div class="form-group">
        <label class="form-label">Para</label>
        <select class="custom-select" formControlName="receptor">
          <option *ngFor="let usuarioLibro of  listaUsuarioLibro" [value]="usuarioLibro.usuarioEmpresa.usuario.idUsuario" >{{usuarioLibro.usuarioEmpresa.usuario.nombre}} {{usuarioLibro.usuarioEmpresa.usuario.apellidoPaterno}} {{usuarioLibro.usuarioEmpresa.usuario.apellidoMaterno}} | RUT:{{usuarioLibro.usuarioEmpresa.usuario.rut}}</option>
        </select>
      </div>
      <div class="d-flex">
        <div class="flex-grow-1">
          <div class="form-group">
            <label class="form-label">Despuesta de</label>
            <input type="text" class="form-control" placeholder="Libro Maestro, Folio Nº20" disabled>
          </div>
        </div>        
        <div class="ml-2" style="padding-top: 18px;">
          <button type="button" class="btn btn-sm icon-btn btn-secondary" style="height: 30px; width: 30px;"><span style="font-size: 14px;" class="ion-md-eye"></span></button>          
        </div>
      </div>
      <div class="d-flex">
        <div class="flex-grow-1">
          <div class="form-group">
            <label class="form-label">Folio Referencia</label>
            <app-chips-folio-borrador [folioReferencias]="folioReferencias" [folioReferenciasNombre]="folioReferenciasNombre" (borrarFolioReferencia)="borrarFolioReferencia($event)"></app-chips-folio-borrador>
          </div>
        </div>        
        <div class="ml-2" style="padding-top: 18px;">
          <button type="button" class="btn btn-sm icon-btn btn-secondary" style="height: 30px; width: 30px;" (click)="modalFolioReferencia()"><span class="ion-ios-search" style="font-size: 14px;"></span></button>         
        </div>
      </div>
      <div class="form-group">
        <label class="form-label">Seleccione el tipo Folio</label>
        <select class="custom-select" formControlName="tipoFolio">
          <option *ngFor="let item of listaTipoFolio" [value]="item.tipoFolio.nombre">{{item.tipoFolio.nombre}}</option>
        </select>
      </div>
      <div class="form-inline mb-2">
        <label class="switcher">
          <input type="checkbox" class="switcher-input" formControlName="solicitaRespuesta">
          <span class="switcher-indicator" >
            <span class="switcher-yes"></span>
            <span class="switcher-no"></span>
          </span>
          <span class="switcher-label">Solicitar fecha respuesta</span>
        </label>
        <div class="form-group ml-2" *ngIf="solicitaRespuesta">
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd" name="dp" 
              formControlName="fechaRequerida"
              ngbDatepicker
              [displayMonths]="displayMonths"
              [navigation]="navigation"
              [disabled]="disabled"
              [placement]="isRTL ? 'bottom-right' : 'bottom-left'"
              #d="ngbDatepicker">
              <div class="input-group-append">
                <button class="input-group-text" [disabled]="disabled" (click)="d.toggle()" type="button">
                  <span class="ion ion-md-calendar" style="cursor: pointer;"></span>
                </button>
              </div>
          </div>
        </div>
      </div>           
      <div class="form-group">
        <label class="form-label">Asunto</label>
        <input type="text" class="form-control" placeholder="" formControlName="asunto">
      </div>
      <div [ngxSummernote]="config" formControlName="anotacion"></div>
      <div class="form-group mt-3">
        <label class="form-label mb-2">Adjuntos</label>
        <div class="dropzone" [dropzone]="dropzoneConfig">
          <div class="dz-message needsclick">
            <div style="font-size: medium;">
              Arrastre los achivos aquí o haga click
            </div>            
            <span class="note needsclick">(La capacidad total máxima por folio es de <strong>50</strong> Mb)</span>
          </div>
          <div class="fallback">
            <input name="file" type="file" multiple>
          </div>
        </div>
      </div>
      <div class="d-flex mt-2">
        <div class="mr-auto">
          <button type="button" *ngIf="editar" class="btn btn-default" (click)="eliminarFolio()">Eliminar Borrador</button>
        </div>
        <div>          
          <button type="button" *ngIf="editar" class="btn btn-primary">Informar</button>          
          <button type="button" *ngIf="editar" class="btn btn-primary" (click)="previsualizarPdf()" >Previsualizar</button>
          <button type="button" *ngIf="!editar" class="btn btn-default" (click)="volver()">Cancelar</button>
          <button type="button"  class="btn btn-primary" [disabled]="formContrato.invalid" (click)="guardarFolio()">Guardar</button>
        </div>
      </div>
      <hr style="margin-top: 12px; margin-bottom: 8px;">
      <span>Creado por: {{folio?.usuarioCreador}} | Fecha Creación: {{folio?.fechaCreacion | date : 'dd-MM-yyyy hh:mm'}} | Fecha Modificación: {{folio?.fechaModificacion | date : 'dd-MM-yyyy hh:mm'}}</span>         
    </form>
  </div>
</div>
