<div class="row mb-3" style="align-items: center; margin-left: 0px;">
  <button type="button" class="btn icon-btn btn-secondary btn-sm" (click)="detalleLibro()"><span class="ion-ios-arrow-back"></span></button>   
  <span class="ml-2" style="font-size: 16px; align-items: center;">Mis Libros /</span>
  <strong style="font-size: 16px;">&nbsp;Listado Folios</strong> 
</div>
<div class="card messages-card" [ngClass]="{'messages-sidebox-open': sideboxOpen}" style="height: 95%;">
  <div class="row" style="font-size: 12px; padding-left: 25px; padding-top: 15px; padding-bottom: 7px; padding-right: 25px;" >
    <div class="flex-grow-1 justify-content-start" style="padding-bottom: 7px;">
      <table>
        <tr>
          <td style="font-weight: bold; width: 70px;">
            Contrato:
          </td>
          <td style="font-weight: bold;">
            <strong>{{usuarioLibro?.libro.contrato.nombre}} | Cód.:&nbsp;{{usuarioLibro?.libro.contrato.codigo}}</strong>
          </td>
        </tr>      
        <tr>
          <td>Mandante:</td>                    
          <td>
            {{empresaMandante?.razonSocial}} | RUT:&nbsp;{{empresaMandante?.rut}}
          </td>
        </tr>  
        <tr>
          <td>Contratista:</td>
          <td>
            {{empresaContratista?.razonSocial}} | RUT:&nbsp;{{empresaContratista?.rut}}
          </td>
        </tr>  
      </table>
    </div>
    <div class="justify-content-end" style="padding-bottom: 7px;">
      <table>
        <tr>
          <td style="font-weight: bold; width: 70px;">
            Mi Perfil:
          </td>
          <td style="font-weight: bold;">
            <strong>{{usuarioLibro?.perfilUsuarioLibro.descripcion}}</strong>
          </td>
        </tr>
        <tr>
          <td>Cargo:</td>
          <td>
            {{usuarioLibro?.cargo}}
          </td>                  
        </tr>    
      </table>  
    </div>
  </div>
  <hr class="m-0">
  <div class="row no-gutters" style="height: 100%;">   
    <div [perfectScrollbar]="{ suppressScrollX: true, wheelPropagation: true }" class="messages-sidebox messages-scroll col" style="height: 100%;">
      <div class="card-body py-3" style="padding-left: 15px; padding-right: 15px;">
        <div class="media align-items-center">
          <div class="media-body">
            <button type="button" class="btn btn-sm btn-primary btn-block" style="height: 30px;" (click)="crearFolio()">Redactar</button>
          </div>
          <a (click)="sideboxOpen = !sideboxOpen" href="javascript:void(0)" class="d-lg-none d-block text-muted text-large font-weight-light pl-4">&times;</a>
        </div>
      </div>
      <!-- <hr class="border-light m-0"> -->
      <div class="card-body pt-0" style="padding-left: 15px; padding-right: 15px;">        
        <a *ngFor="let boxId of objectKeys(mailBoxes)" href="javascript:void(0)" class="d-flex justify-content-between align-items-center py-2" [ngClass]="{'font-weight-bold text-body': currentMailBox === boxId, 'text-muted': currentMailBox !== boxId}">
          <div><i [ngClass]="mailBoxes[boxId].icon"></i> &nbsp; {{mailBoxes[boxId].title}}</div>
          <div class="badge badge-primary" *ngIf="mailBoxes[boxId].count">{{mailBoxes[boxId].count}}</div>
        </a>   
      </div>
    </div>    
    <div class="col" >
      <div class="media flex-wrap align-items-center ml-2 mr-2 mt-3 mb-2">
        <div class="media-body d-flex flex-wrap flex-basis-100 flex-basis-sm-auto">
          <div class="flex-grow-1 mr-2">
            <button type="button" class="btn btn-default borderless md-btn-flat icon-btn messages-sidebox-toggler d-lg-none d-block text-muted text-large mr-2" (click)="sideboxOpen = !sideboxOpen"><i class="ion ion-md-more"></i></button>                                  
            <select  [formControl]="controlLibroSeleccionado" (change)="cambiarLibro()" style="border-radius: 3px; border-color: rgb(226, 226, 226); background: rgb(255, 255, 255); height: 32px; max-width: 400px;">
              <option *ngFor="let usuarioLibro of listaLibroUsuario"  [value]="usuarioLibro.libro.idLibro"> {{usuarioLibro.libro.nombre}} | Cod.:{{usuarioLibro.libro.codigo}} | Clase: {{usuarioLibro.libro.tipoLibro.descripcion}} | Estado: {{usuarioLibro.libro.estadoLibro.descripcion}}</option>
            </select>
          </div>    
          <button type="button" class="btn btn-sm btn-secondary mr-1" style="height: 30px;"><span class="ion-ios-search"></span>&nbsp;&nbsp;Avanzada</button>
          <button type="button" class="btn btn-sm btn-secondary mr-1" style="height: 30px;">Filtro</button>
          <button type="button" class="btn btn-sm btn-default icon-btn borderless mr-2" style="height: 30px;width: 30px;"><span class="ion-md-settings" style="font-size: 18px;color: #3c97fe;"></span></button>
        </div>    
      </div>
      <div class="table-responsive" style="padding-left: 10px;padding-right: 10px;">      
        <table class="table table-hover" style="width:100%;font-size: 11px;" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
          <thead>
            <tr>
              <th style="min-width: 40px;width: 40px;"># Folio</th>
              <th style="width: 180px; min-width:140px;">Emisor</th>                           
              <th>Tipo Folio - Asunto</th>
              <th style="width: 95px;min-width: 60px;">Fecha Requerida</th>
              <th style="width: 105px;min-width: 105px;">Fecha</th>
            </tr>
          </thead>
          <tbody>                   
            <tr *ngFor="let folio of listaFolios" style="user-select: none;">                
              <td style="border-left: 3px solid;border-left-color:#ff9900" *ngIf="folio?.entidadCreacion">                
                <span style="min-width: 45px; width: 45px;" *ngIf="folio.correlativo">{{folio?.correlativo}}</span>                  
                <span style="min-width: 45px; width: 45px;" *ngIf="!folio.correlativo">S/N</span>
              </td>             
              <td style="border-left: 3px solid;border-left-color:#007bff" *ngIf="!folio?.entidadCreacion">                
                <span style="min-width: 45px; width: 45px;" *ngIf="folio.correlativo">{{folio?.correlativo}}</span>                  
                <span style="min-width: 45px; width: 45px;" *ngIf="!folio.correlativo">S/N</span>
              </td>
              <td class="ellipsis" style="font-weight: bold;">{{folio.usuarioCreador}}</td>                             
              <td class="ellipsis"><strong>{{folio.configuracionTipoFolioTipoLibro.tipoFolio.nombre}}</strong> - {{folio.asunto}}</td>
              <th style="align-items: center;">
                <a class="badge badge-success" style="color: white;">{{folio.fechaRequerida | date : 'dd-MM-yyyy'}}</a>
              </th>
              <th style="text-align: center;">  
                <span *ngIf="!folio.correlativo">{{folio.fechaCreacion | date : 'dd/MM/yyyy HH:mm'}}</span>
                <span *ngIf="folio.correlativo">{{folio.fechaFirma | date : 'dd-MM-yyyy HH:mm'}}</span>                
                <span type="button" *ngIf="!folio.correlativo" class="ion-ios-arrow-forward text-muted ml-3" style="font-size: 14px;" (click)="folioBorrador(folio)" ></span> 
                <span type="button" *ngIf="folio.correlativo" class="ion-ios-arrow-forward text-muted ml-3" style="font-size: 14px;" (click)="folioFirmado(folio)" ></span>
              </th>
            </tr>
          </tbody>
        </table>      
      </div>
    </div>
  </div>
</div>









