<!-- <h5 class="font-weight-bold py-3 mb-3">
  <span class="text-muted font-weight-light"><a href="dasdasdasd">Prevención de Riesgos</a> /</span> Folio Nº2
</h5> -->
<div class="card">
  <div class="row card-header mt-2">
    <button type="button" class="btn icon-btn btn-secondary"><span class="ion ion-ios-arrow-back"></span></button> 
    <button type="button" class="btn btn-default ml-1"><span class="ion-ios-undo"></span>&nbsp;&nbsp;Responder</button>
    <button type="button" class="btn btn-default ml-1"><span class="ion ion-md-checkmark"></span>&nbsp;&nbsp;Confirmar Lectura</button>     
    <button type="button" class="btn icon-btn btn-default ml-1"><span class="fas fa-file-pdf"></span></button>     
    <button type="button" class="btn icon-btn btn-default ml-1"><span class="ion-md-download"></span></button>
    <button type="button" class="btn icon-btn btn-default ml-1"><span class="ion-md-print"></span></button>    
    <button type="button" class="btn icon-btn btn-default ml-1"><span class="ion ion-md-mail"></span></button>       
  </div>
  <div class="card-header">
    <img src="/assets/img/logo42_.png"/>
    <img src="/assets/img/letra120x34_.png"/><br>
  </div>
  <div class="row card-header" style="line-height: 13px; font-size: 13px; font-weight: 400;">
    <div class="flex-grow-1 justify-content-start" style="padding-left: 15px;">
      <table>
        <tr>
          <td style="font-weight: bold; width: 95px;">
            Contrato:
          </td>
          <td style="font-weight: bold;">
            <strong>Construcción Edificio La Serena</strong>
          </td>
        </tr>
        <tr>
          <td>Código:</td>
          <td>
            C001
          </td>                  
        </tr>
        <tr>
          <td>Mandante:</td>                    
          <td>
            Ilustre Municipalidad de La Serena
          </td>
        </tr>
        <tr>
          <td></td>
          <td>                      
            RUT:&nbsp;77.415.565-6
          </td>
        </tr>
        <tr>
          <td>Contratista:</td>
          <td>
            Constructora La Serena Ltda.
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            RUT:&nbsp;78.659.697-6                      
          </td>
        </tr>
      </table>
    </div>
    <div class="justify-content-end" style="padding-right: 15px; padding-left: 15px;">
      <table>
        <tr>
          <td style="font-weight: bold; width: 95px">
            <strong>Libro:</strong>
          </td>
          <td style="font-weight: bold;">
            <strong>Prevención de Riesgos</strong>
          </td>                    
        </tr>
        <tr>
          <td>Código:</td>
          <td>LM001</td>
        </tr>
        <tr>
          <td>Clase Libro:</td>
          <td>
            Maestro
          </td>
        </tr>
        <tr>
          <td>Tipo Firma:</td>
          <td>
            Digital Avanzada
          </td>
        </tr>
        <tr>
          <td>Fecha Apertura:</td>
          <td>
            12-04-2020 14:05
          </td>                   
        </tr>
        <tr>
          <td>Fecha Cierre:</td>
          <td>
            <!-- {{libro.fechaCierre | date: "dd-MM-yyyy HH:mm"}} -->
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="card-body">
    <table style="line-height: 15px;">                
      <tr>
        <td style="width: 105px;">Emisor:</td>
        <td>
          Fernando Vilches Soleman | RUT: 13.224.233-K | Cargo: Supervior
        </td>
      </tr>
      <!-- <tr>
        <td></td>
        <td>&nbsp;{{emisor?.cargoFuncion}}</td>
      </tr> -->
      <tr>
        <td>Receptor:</td>
        <td>
          Marcelo Espejo Ireland | RUT: 14.224.233-K | Cargo: Inspector Técnico
        </td>
      </tr>
      <!-- <tr>
        <td></td>
        <td>&nbsp;{{receptor?.cargoFuncion}}</td>
      </tr> -->      
      <tr>
        <td>Respuesta de:</td>
        <td> 
          <li class="list-inline-item " >
            <a style="color: #4285f4;">
              Libro Maestro | Folio Nº2
            </a>
          </li>
        </td>
        <!-- <td *ngIf="Folio.idlibroRelacionado === null">&nbsp;n/a</td> -->
      </tr>
      <tr>
        <td>Referencia de:</td>
        <td>                     
          <li class="list-inline-item ">
            <a style="color: #4285f4;">
              Libro Maestro | Folio Nº2&nbsp;;
            </a>
          </li>                    
        </td>
      </tr>
      <tr>
        <td>Fecha Requerida:</td>
        <td>
          <span class="badge badge-primary">No</span>
          <!-- <span  *ngIf="Folio.requiereRespuesta === true" [ngStyle]="{'background-color': Folio.color}" style="color: white;" class="badge badge-primary">
            {{ Folio.fechaRequerida | date: "dd-MM-yyyy HH:mm" }}
          </span> -->
        </td>
      </tr>
      <tr>
        <td>Tipo de Folio:</td>
        <td>
          Adjunta Información
        </td>
      </tr>
      <tr>
        <td>Asunto:</td>
        <td>Se adjunta documentación de estado de pago</td>
      </tr>
    </table>
    <hr>
    <div class="mb-2" style="font-size: 14px; font-weight: bold;">Anotación:</div>
    dasdasdasdasd
    dasdasdasdasdsd
    asd
    asdasd
    sda
    sdas
    asd
    asd
    asd
    asd
    <hr>
    <div style="font-size: 14px; font-weight: bold;">Adjuntos:</div>
    <div style="font-size: 11px; padding-top: 1px;padding-bottom: 5px;">                
      Total de archivos: 
      <a style="font-weight: bold;" class="muted">12</a> 
      <!-- , Peso total:<a style="font-weight: bold;">XXXXX MB</a> -->              
    </div>
    <ul class="list-inline" style="padding-left: 12px;" >
      <li style="padding-right: 27px; padding-top: 6px;" class="list-inline-item">
        <div class="row" style="background-color:#f0f0f0; min-height: 25px;padding-left: 8px; padding-right: 2px; border-radius: 3px;">
          <div style="font-weight: bold;margin-top: 6px;" class="mr-2">
            <a style="color: #15c; cursor: pointer;">Archivo 1.exe</a>
          </div>         
          <div style="min-width: 70px; font-weight: bold; color: #777;margin-top: 6px;">
            <strong>13.542 MB</strong>
          </div>
        </div>
      </li>
      <li style="padding-right: 27px; padding-top: 6px;" class="list-inline-item">
        <div class="row" style="background-color:#f0f0f0; min-height: 25px;padding-left: 8px; padding-right: 2px; border-radius: 3px;">
          <div style="font-weight: bold;margin-top: 6px;" class="mr-2">
            <a style="color: #15c; cursor: pointer;">Archivo fgfgfgfg.exe</a>
          </div>         
          <div style="min-width: 70px; font-weight: bold; color: #777;margin-top: 6px;">
            <strong>23.542 MB</strong>
          </div>
        </div>
      </li>
      
      



    </ul>
    <hr>
    <div class="row" style="padding-left: 10px;">
      <div>                  
        <img style="max-height: 80px;" src="/assets/img/logo.jpg" />        
      </div>
      <div style="padding-left: 5px; line-height: 15px;">
        <a style="font-weight: bold;">
          Fernando Vilches Soleman
        </a>
        <br/>RUT: 13.224.233-K
        <br/>Cargo: Administrador de Contrato
        <br/>Fecha Firma: 12-04-2020 14:25:06 
        <br/>Tipo Firma: Digital Avanzada
        <br/>Código Verificación: QYUMJHGM
      </div>
    </div>
    <hr>
    <p style="font-size: smaller;" class="text-right mt-1">
      Creado mediante en plataforma <a href="">www.lodigital.cl</a>,
      Diseñada por LinkSystem Spa.
    </p>


                  
              
              
    



  </div>


</div>
