<ngx-alerts></ngx-alerts>
<div class="row mb-2" style="align-items: center; margin-left: 0px;">
  <button type="button" class="btn icon-btn btn-secondary btn-sm" (click)="resumenDeFolio()"><span class="ion-ios-arrow-back"></span></button>   
  <span class="ml-2" style="font-size: 16px; align-items: center;">Listado Folios /</span>
  <strong style="font-size: 16px;">&nbsp;Folio Nº{{folio?.correlativo}}</strong> 
</div>
<div class="row mb-3" style="padding-left: 8px;">  
  <button type="button" class="btn btn-default ml-1" style="color:#6f7986 ;"><span class="ion-ios-undo"></span>&nbsp;&nbsp;Responder</button>
  <button type="button" class="btn btn-default ml-1" style="color:#6f7986 ;"><span class="fas fa-thumbtack"></span>&nbsp;&nbsp;Referenciar</button>
  <button type="button" class="btn btn-default ml-1" style="color:#6f7986 ;"><span class="ion ion-md-checkmark"></span>&nbsp;&nbsp;Confirmar Lectura</button>      
  <button type="button" class="btn icon-btn btn-default ml-1" style="color:#6f7986 ;"><span class="fas fa-file-pdf"></span></button>     
  <button type="button" class="btn icon-btn btn-default ml-1" style="color:#6f7986 ;"><span class="ion-md-download"></span></button>
  <button type="button" class="btn icon-btn btn-default ml-1" style="color:#6f7986 ;"><span class="ion-md-print"></span></button>    
  <button type="button" class="btn icon-btn btn-default ml-1" style="color:#6f7986;"><span class="ion ion-md-mail"></span></button>       
</div>
<div class="card">
  <div class="card-body" style="line-height: 13px; font-size: 12px; font-weight: 400;padding-bottom:0px;">
    <table class="mb-3" style="width: 100%; padding-top: 0px;">
      <tr>
          <td style="align-items: center;">
            <img style="width: 35px; height: 35px;" src="/assets/img/logo42_.png"/>
            <img src="/assets/img/letra110_31.png"/>
          </td>                            
          <td style="text-align: right;">                            
              <strong style="color: #0c63a5; font-size: 17px;">Folio Nº {{folio?.correlativo}}</strong>
              <div style="font-size: 12px; margin-top: 4px;">{{folio?.fechaFirma | date : 'dd-MM-yyyy HH:mm:ss'}}</div>                            
          </td>
      </tr>
    </table>
    <div class="mb-3" style="border-bottom: 2px solid #cacaca; background-color:#f0f0f0; width: 100%;color: rgb(97, 97, 97); padding-top: 5px;padding-left: 7px;padding-bottom: 5px;">Información General</div>
    <div class="row" style="font-size: 12px; padding-left: 10px; padding-right: 10px;">
      <div class="flex-grow-1 justify-content-start">
        <table>
          <tr>
            <td style="font-weight: bold; width: 100px;">
              Contrato
            </td>
            <td style="font-weight: bold;">
              <strong>{{folio?.libro.contrato.nombre}}</strong>
            </td>
          </tr>
          <tr>
            <td>Código</td>
            <td>
              {{folio?.libro.contrato.codigo}}
            </td>                  
          </tr>          
          <tr>
            <td>Mandante</td>                    
            <td>
              {{empresaMandante?.razonSocial}} | RUT:&nbsp;{{empresaMandante?.rut}}
            </td>
          </tr>     
          <tr>
            <td>Contratista</td>
            <td>
              {{empresaContratista?.razonSocial}} | RUT:&nbsp;{{empresaContratista?.rut}}
            </td>
          </tr>      
        </table>
      </div>
      <div class="justify-content-end" style="max-width: 350px;">
        <table>
          <tr>
            <td style="font-weight: bold; width: 100px">
              <strong>Libro:</strong>
            </td>
            <td style="font-weight: bold;">
              <strong>{{folio?.libro.nombre}}</strong>
            </td>                    
          </tr>
          <tr>
            <td>Código</td>
            <td>{{folio?.libro.codigo}}</td>
          </tr>
          <tr>
            <td>Clase Libro</td>
            <td>
              {{folio?.libro.tipoLibro.descripcion}}
            </td>
          </tr>
          <tr>
            <td>Tipo Firma</td>
            <td>
              {{folio?.libro.tipoFirma.descripcion}}
            </td>
          </tr>      
        </table>
      </div>
    </div>
    <hr style="margin-top: 8px; margin-bottom: 8px;">
    <table style="line-height: 15px;">
      <tr>
        <td style="width: 100px;">De</td>
        <td>
          {{usuarioEmisor?.usuarioEmpresa.usuario.nombre}} {{usuarioEmisor?.usuarioEmpresa.usuario.apellidoPaterno}} {{usuarioEmisor?.usuarioEmpresa.usuario.apellidoMaterno}} | RUT: {{usuarioEmisor?.usuarioEmpresa.usuario.rut}}
        </td>
      </tr>      
      <tr>
        <td>Para</td>
        <td>
          {{usuarioReceptor?.usuarioEmpresa.usuario.nombre}} {{usuarioReceptor?.usuarioEmpresa.usuario.apellidoPaterno}} {{usuarioReceptor?.usuarioEmpresa.usuario.apellidoMaterno}} | RUT: {{usuarioReceptor?.usuarioEmpresa.usuario.rut}}
        </td>
      </tr>            
      <tr>
        <td>Respuesta de</td>
        <td>
          <a href="#" *ngIf="folio?.idFolioRespuesta">Libro Maestro | Folio Nº2</a>    
          <a *ngIf="!folio?.idFolioRespuesta">S/N</a>          
        </td>        
      </tr>
      <tr>
        <td>Referencia de</td>
        <td>                     
          <li class="list-inline-item ">
            <a href="#">
              Libro Maestro | Folio Nº12&nbsp;;
            </a>
            <a href="#">
              Libro Maestro | Folio Nº14&nbsp;;
            </a>
            <a href="#">
              Libro Maestro | Folio Nº18&nbsp;;
            </a>
          </li>                    
        </td>
      </tr>
      <tr>
        <td>Fecha Requerida</td>
        <td>
          <span *ngIf="!folio?.fechaRequerida" class="badge badge-primary">No</span>
          <span  *ngIf="folio?.fechaRequerida" [ngStyle]="{'background-color': folio.color}" style="color: white;" class="badge badge-primary">
            {{ folio?.fechaRequerida | date: "dd-MM-yyyy" }}
          </span>
        </td>
      </tr>
      <tr>
        <td>Tipo de Folio</td>
        <td>
          {{folio?.configuracionTipoFolioTipoLibro.tipoFolio.nombre}}
        </td>
      </tr>
      <tr>
        <td>Asunto</td>
        <td>{{folio?.asunto}}</td>
      </tr>
    </table>
    <div class="mb-3 mt-3" style="border-bottom: 2px solid #cacaca; background-color:#f0f0f0; width: 100%;color: rgb(97, 97, 97); padding-top: 5px;padding-left: 7px;padding-bottom: 5px;">Anotación</div>
    <div [formGroup]="formAnotacion" >
      <div [ngxSummernote]="config" style="background-color: #f0f0f0;" formControlName="anotacion"  [ngxSummernoteDisabled]="editorDisabled" ></div>
    </div>
    <div class="mt-3 mb-1" style="border-bottom: 2px solid #cacaca; background-color:#f0f0f0; width: 100%;color: rgb(97, 97, 97); padding-top: 5px;padding-left: 7px;padding-bottom: 5px;">Adjuntos</div>
    <small class="muted">Nº de Archivos:<a style="font-weight: bold;" class="muted">12</a> | Peso Total: <a style="font-weight: bold;" class="muted">23 mb</a> </small>
    <ul class="list-inline mt-3" style="padding-left: 12px;" >
      <li style="padding-right: 27px; padding-top: 6px;" class="list-inline-item">
        <div class="row" style="background-color:#f0f0f0; min-height: 25px;padding-left: 8px; padding-right: 2px; border-radius: 3px;">
          <div style="font-weight: bold;margin-top: 6px;" class="mr-2">
            <a style="color: #15c; cursor: pointer;">Archivo 1.exe</a>
          </div>         
          <div style="min-width: 70px; font-weight: bold; color: #777;margin-top: 6px;">
            <strong>13.542 MB</strong>
          </div>
        </div>
      </li>
      <li style="padding-right: 27px; padding-top: 6px;" class="list-inline-item">
        <div class="row" style="background-color:#f0f0f0; min-height: 25px;padding-left: 8px; padding-right: 2px; border-radius: 3px;">
          <div style="font-weight: bold;margin-top: 6px;" class="mr-2">
            <a style="color: #15c; cursor: pointer;">Archivo fgfgfgfg.exe</a>
          </div>         
          <div style="min-width: 70px; font-weight: bold; color: #777;margin-top: 6px;">
            <strong>23.542 MB</strong>
          </div>
        </div>
      </li>
    </ul>
    <hr style="margin-top: 8px; margin-bottom: 8px;">
    <div class="row mt-4" style="padding-left: 10px;">
      <div class="row col-md-6">
        <img style="max-height:85px;" src="/assets/img/qr.jpg" />
        <div style="font-size: 14px; width: 280px; font-family:'Courier New', Courier, monospace; padding-left: 10px;">
          Folio emitido por {{usuarioEmisor?.usuarioEmpresa.usuario.nombre}} {{usuarioEmisor?.usuarioEmpresa.usuario.apellidoPaterno}} {{usuarioEmisor?.usuarioEmpresa.usuario.apellidoMaterno}} el {{folio?.fechaFirma | date : 'dd-MM-yyyy HH:mm:ss'}} mediante sistema de firma {{folio?.libro.tipoFirma.descripcion}} con código de verificación: {{folio?.codigoVerificacion}}
        </div>
      </div>
      <div class="row col-md-6">
        <!-- <img style="max-height:85px;" src="/assets/img/qr.jpg" />
        <div style="font-size: 14px; width: 280px; font-family:'Courier New', Courier, monospace; padding-left: 10px;">
          Confirmación de lectura emitida por {{usuarioReceptor?.usuarioEmpresa.usuario.nombre}} {{usuarioReceptor?.usuarioEmpresa.usuario.apellidoPaterno}} {{usuarioReceptor?.usuarioEmpresa.usuario.apellidoMaterno}} el {{folio?.fechaFirma | date : 'dd-MM-yyyy HH:mm:ss'}} mediante sistema de firma {{folio?.libro.tipoFirma.descripcion}} con código de verificación: BHSYHDSBYDSGB
        </div> -->
      </div>
    </div>
    <hr>
    <p style="font-size: smaller;" class="text-right mt-1">
      Creado mediante en plataforma <a href="">www.lodigital.cl</a>,
      Diseñada por LinkSystem Spa.
    </p>
  </div>
</div>
