<div class="contenedor ui-bg-cover d-flex justify-content-center align-items-center" style="background-image: url('assets/img/bg/login.jpg')">
  <div class="card mt-5 mb-5" style="max-width: 400px; padding: 20px;border-radius: 3px; margin-left: 20px; margin-right: 20px;">  
    <div class="mb-4 mt-2">          
      <img style="display:block; margin:auto;" src="/assets/img/login.png"/>          
    </div>
    <form class="mb-3">
      <div class="mb-3">
        Ingrese su RUN y seleccione e-mail en donde recibirá las instrucciones para restablecer la contraseña.  
      </div>
      <div class="form-group">
        <label class="form-label">RUN</label>            
        <input type="text" class="form-control">                
      </div>
      <div class="form-group flex-grow-1">
        <label class="form-label">E-mail</label>
        <select class="custom-select">
          <option>emailprincipal@gmail.com</option>
          <option>emailsecundario@yahoo.com</option>        
        </select>
      </div>              
      <div class="mt-4">            
        <button type="button" class="btn btn-primary btn-block">Solicitar Contraseña</button>
        <button type="button" class="btn btn-default btn-block">Cancelar</button>
      </div>
    </form>    
    <div class="card-footer">
      <div class="text-center text-muted" style="font-size: 11px;">
        Sisteman desarrollado por <a href="https://www.linksystem.cl" target="_blank">LinkSystem</a> Spa.<br>
        Versión 2021         
      </div>
    </div>      
  </div>
</div>
