<nav class="footer" [ngClass]="currentBg()">
  <div class="container-fluid d-flex flex-wrap justify-content-between text-center container-p-x pb-3">
    <div class="pt-3">
      <span class="footer-text font-weight-bolder">LODigial</span> ©
    </div>
    <div>
      <a href="javascript:void(0)" class="footer-link pt-3 ml-1" (click)="modalTerminoCondiciones()" >Términos & Condiciones</a>
      <span>&nbsp;|&nbsp;</span>     
      <a href="javascript:void(0)" class="footer-link pt-3 ml-1">Desarrollado por LinkSystem Spa.</a>
    </div>
  </div>
</nav>


