<h5 class="font-weight-bold ">
  Información Personal
</h5>
<div class="card" style="padding-left: 5px; padding-top: 2px; padding-right: 5px;">
  <div class="card-body">
    <div class="form-group">
      <label class="form-label">RUT</label>
      <input type="text" class="form-control" placeholder="13.224.233-K" disabled>
    </div>
    <div class="form-group">
      <label class="form-label">Nombres</label>
      <input type="text" class="form-control" placeholder="Fernando Alejandro" disabled>
    </div>
    <div class="form-group">
      <label class="form-label">Apellido Paterno</label>
      <input type="text" class="form-control" placeholder="Vilches" disabled>
    </div>
    <div class="form-group">
      <label class="form-label">Apellido Materno</label>
      <input type="text" class="form-control" placeholder="Soleman" disabled>
    </div>
    <div class="form-group">
      <label class="form-label">E-mail Principal</label>
      <input type="email" class="form-control" placeholder="fvilchessoleman@gmail.com" disabled>
    </div>
    <div class="form-group">
      <label class="form-label">E-mail Secundario</label>
      <input type="email" class="form-control" placeholder="fvilchess@gmail.com" disabled>
    </div>
    <div class="form-group">
      <label class="form-label">Teléfono Principal</label>
      <input type="text" class="form-control" placeholder="966453188" disabled>
    </div>
    <div class="form-group">
      <label class="form-label">Teléfono Secundario</label>
      <input type="text" class="form-control" placeholder="978324541" disabled>
    </div>
    <div class="form-group">
      <label class="form-label">Oficio o Profesión</label>
      <input type="text" class="form-control" placeholder="" disabled>
    </div>
  </div>  
  <div class="card-body" align="right">
    <button type="button" class="btn btn-secondary">Cancelar</button>
    <button type="button" class="btn btn-primary">Guardar</button>
    <button type="button" class="btn btn-primary">Editar</button>
  </div>  
</div>